.portfolio{
    width: 100vw;
    height: 70vh;
    background-color: $background-color;
    color: $color;

    &_cabecera{
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        padding: 3em;
    }
}

.portfolio_title{
    font-size: 2.5em;
    margin-left: 50px;
    width: 100vw;
    color: $color-list;    
    align-items: center;
}

.icono_git{
    width: 60px;
    margin-top: 10px;
}

.porfolio{
    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 300px;
    margin-left: 100px;
    height: 430px;
    background-color: #265176;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img{
    width: 100%;
    height: 150px;
    background-image: url(https://i.blogs.es/4e5da4/github3/450_1000.jpg);
    background-size: cover;
}

.card_title{
    font-size:25px;
    padding: 15px;
    display: flex;
}

.card p{
    margin-left: 20px;
}

.portfolio_container{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-left: -51px;
}

@media (max-width:320px) {
    .portfolio{
        height: 170vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .portfolio_container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card{
        margin-bottom: 20px;

    }
}

@media (max-width:768px) and (min-width:320px) {
    .portfolio {
        height: 170vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .portfolio_container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card {
        margin-bottom: 20px;
        margin-left: 70px;
    }
}






